@keyframes fadeLeftToRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

.social-icons {
  display: flex;
  justify-content: center;
}

.social-icons__link {
  padding: 0.8rem;
  opacity: 0;
  animation: fadeLeftToRight 0.3s ease-in 1.05s forwards;

  &:focus, &:active {
    outline: none;
  }

  &:nth-child(1) {
    animation-delay: 1.15s;
  }

  &:nth-child(2) {
    animation-delay: 1.1s;
  }

  &:nth-child(3) {
    animation-delay: 1.05s;
  }

  &:not(:last-child) {
    margin-right: 1em;
  }
  
  .social-icons__icon {
    width: 1.4rem;
    height: 1.4rem;
    background-size: contain;
    background-repeat: no-repeat;

    &:hover {
      filter: invert(14%) sepia(97%) saturate(7038%) hue-rotate(334deg) brightness(97%) contrast(106%);
    }
  }
}
