<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

<head>
  <title>{{ if .IsHome }}{{ .Site.Title }}{{ else }}{{ .Title }} | {{ .Site.Title }}{{ end }}</title>

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#fd0054">

  <link rel="canonical" href="{{ .Permalink }}">

  <meta name="msapplication-TileColor" content="#fd0054">
  <meta name="theme-color" content="#fd0054">

  <meta charset="UTF-8">
  <meta name="language" content="en">
  <meta name="description"
    content="{{ if .IsHome}}{{ .Site.Params.Description }}{{ else }}{{.Page.Params.Description}}{{ end }}">

  <meta name="keywords" content="{{ delimit .Keywords " , " }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <!-- Twitter -->
  {{ if isset .Site.Params "twitter" }}
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:title" content="{{ .Title }}" />
  <meta name="twitter:description"
    content="{{ if .IsHome }}{{ htmlEscape .Site.Params.description }}{{ else }}{{ htmlEscape .Description }}{{ end }}" />
  <meta name="twitter:site" content="{{ .Site.Params.twitterSite | default .Site.Params.twitter }}" />
  <meta name="twitter:creator" content="{{ .Site.Params.twitterCreator | default .Site.Params.twitter }}" />
  {{ end }}

  <link rel="shortcut icon" type="image/png" href="/favicon.ico" />

  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

  <!-- Styles -->
  {{ block "styles" . }} {{ end }}
  <!-- Get "style_opts" variable from "styles" block -->
  {{ $base_styles_opts := .Scratch.Get "style_opts" | default (dict "src" "scss/pages/about.scss" "dest" "css/about.css") }}
  {{ $custom_styles_opts := (dict "src" "scss/custom.scss" "dest" "css/custom.css") }}

  {{ $current_page := . }}

  {{ range (slice $base_styles_opts $custom_styles_opts) }}
  {{ $style := resources.Get .src | resources.ExecuteAsTemplate .dest $current_page | toCSS | minify | fingerprint }}
  <link type="text/css" rel="stylesheet" href="{{ $style.RelPermalink }}" integrity="{{ $style.Data.Integrity }}" />
  {{ end }}

  {{ range .AlternativeOutputFormats }}
  {{ printf `<link rel="%s" type="%s+%s" href="%s" title="%s" />` .Rel .MediaType.Type .MediaType.Suffix .Permalink $.Site.Title | safeHTML }}
  {{ end }}
  {{ block "links" . }} {{ end }}
  {{ partial "seo-schema.html" .}}

  {{- if not .Site.IsServer -}}
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async type="text/plain" data-type="application/javascript"
    data-src="https://www.googletagmanager.com/gtag/js?id=G-3S4BNL83PJ" data-name="google-analytics"></script>
  <script type="text/plain" data-type="application/javascript" data-name="google-analytics">
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'G-3S4BNL83PJ');
        gtag('event', 'branch_used', { branch: '{{ getenv "BRANCH" }}'});
      </script>

  {{ $klaroConfig := resources.Get "js/config.js" | minify | fingerprint }}
  <script src="{{ $klaroConfig.RelPermalink }}" integrity="{{ $klaroConfig.Data.Integrity | safeHTMLAttr }}"
    crossorigin="anonymous"></script>
  <script defer data-config="klaroConfig" type="application/javascript"
    src="https://cdn.kiprotect.com/klaro/latest/klaro.js">
    </script>
  {{- end -}}
</head>

<body>
  {{ partial "burger.html" .}}

  {{ partial "nav.html" .}}

  <main>
    {{ block "main" . }} {{ end }}
  </main>

  {{ block "footer" . }} {{ end }}

  {{ $script := resources.Get "js/index.js" | minify | fingerprint }}
  <script src="{{ $script.RelPermalink }}" integrity="{{ $script.Data.Integrity | safeHTMLAttr }}"
    crossorigin="anonymous"></script>
  {{ block "scripts" . }} {{ end }}

  <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
  </script>
</body>

</html>