@import "../main";

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.splash-container {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;

  @media screen and (min-width: $medium) {
    font-size: 18px;
  }
}

.splash {
  h1 {
    font-size: 3em;
    line-height: 1;
    letter-spacing: -0.03em;
    margin: 0;
    /*animation: fadeInDown 0.35s ease-in;*/
  }

  p {
    opacity: 1;
    font-size: 1em;
    font-weight: 500;
    line-height: 1.25;
    max-width: 30em;
    letter-spacing: -0.03em;
    color: $grey;
    /*animation: fadeInDown 0.35s ease-in 0.7s forwards;*/
  }
}

.fancy {
  color: $primary;
}

.handle {
  opacity: 1;
  display: inline-block;
  margin-top: 0.275em;
  color: $grey;
  letter-spacing: 0.5px;
  /*animation: fadeInDown 0.35s ease-in 0.35s forwards;*/
}

.writing {
  text-decoration: none;
  color: $primary;
}

/* overrides */

main {
  padding-top: 0;
  padding-bottom: 0;
  height: 100%;
}

.social-icons {
  justify-content: flex-start;
  padding-top: 1rem;
  margin-left: -0.8rem;  // offset to negate icon's padding to align with text above
}